.card__content {
  max-width: 413px;
  min-width: 288px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 8px 0 0;
}
.card__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  max-width: 257px;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}
.card__like-button {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: all 0.3s ease;
}
.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}
.card__like-icon {
  height: 20px;
  width: 23px;
}

/* @media screen and (max-width: 767px) {
  .card__name {
    font-size: 16px;
    line-height: 1.2;
  }
} */
@media screen and (max-width: 498px) {
  .card {
    max-width: 380px;
    width: 300px;
  }
}
@media screen and (max-width: 441px) {
  .card__name {
    font-size: 16px;
    line-height: 1.2;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
}
@media screen and (max-width: 320px) {
  .card {
    max-width: 300px;
    padding: 10px;
  }
  .card__name {
    font-size: 16px;
    line-height: 1.2;
  }
  .card__image {
    max-width: 280px;
    height: 280px;
  }
}
