.cards__list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 20px 0 40px;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(1, 380px);
    gap: 20px;
  }
}
@media screen and (max-width: 498px) {
  .cards__list {
    grid-template-columns: repeat(1, 340px);
  }
}
@media screen and (max-width: 320px) {
  .cards__list {
    grid-template-columns: repeat(1, 300px);
  }
}
