.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 16px;
  transition: visibility 0.4s ease;
}
.modal_opened {
  visibility: visible;
}
.modal__container {
  width: 730px;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  background-color: #fff;
  color: #000;
}
.modal__title {
  margin: 0;
  padding: 4px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 32px;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  transition: all 0.3s ease;
}
.modal__close-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal__form {
  display: block;
  padding: 2px;
  width: 100%;
}
.modal__label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  gap: 8px;
}
.modal__input {
  padding: 16px 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 8px;
  font-size: 20px;
  line-height: 1;
}
.modal__submit-btn {
  background-color: #000;
  color: #fff;
  padding: 18px 58px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 156px;
  transition: all 0.3s ease;
}
.modal__submit-btn:hover,
.modal__close-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .modal__container {
    top: 134px;
    width: 576px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__submit-btn {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 646px) {
  .modal__container {
    height: 336px;
    padding: 12px;
  }
  .modal__title {
    margin: 10px 0 34px;
    font-size: 20px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__input {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .modal {
    max-width: 320px;
  }
}
